
  $font-family:"Helvetica"!important;
  $font-weight: normal;
  $letter-spacing: 0.2px;
  $font-stack:    Helvetica, sans-serif;
  $primary-color: #333;
  $light: 300;
  $normal: 400;
  $semibold: 500;
  $bold: 700;